/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/lightcoffeshop.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	
	
}

.center {
    width: 800px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(255,255,255, 0.75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px solid burlywood;
	border-radius: 5px;
}

   
#logo {
    margin-bottom: 40px;
	border: none; 
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: 'Acme', sans-serif;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: rgb(5, 5, 5);
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	 font-family: 'Acme', sans-serif;
	font-size: 1.5em;
    line-height: 1.4;
    color: rgb(5, 5, 5);
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: 'Acme', sans-serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: rgb(5, 5, 5);
}

nav{
	font-family: 'Acme', sans-serif;
	font-size: 1.2em;
	width: 500px;
	margin: 3px auto;
	border: 6px solid, black;
  border-width: 3px 0;
	text-align: center;
	margin-top: 2em;

}
    
nav li {
	display: inline;
}

nav a {
	display: inline-block; 
	padding: 10px;
	color: grey;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
color: black;
background: bisque;

}

 /* Code for cards */

/* sets everything to zero */

* {
    margin: 0;
    padding: 0;
  }
 
  .cardphoto img {
    display: block;
    max-width: 100%; /* makes image responsive if needed but makes sure it doesn't stretch */
  }
 
  /* make the Section class cards here.  */
 
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
 
  /* make the card flex. The default is row so change flex direction to vertical. */
  .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 250px;
    max-width: 385px;
    border-radius: 10px rem;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(179, 142, 94, 0.2);
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
  }
  .card:hover {
    transition: all 0.3s ease-in;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
 
  .cardphoto {
    max-height: 275px;
    overflow: hidden;
  }
 
  .cardarticle {
    padding: 3.5rem;
    flex-grow: 1;
  }
 
  /* typography */
  .cardH1 {
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 0px;
    color: gray;
  }
 
  .card p {
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 15px;
    text-align: center;

  }
 
  .card footer {
    font-size: 1.2rem;
    font-weight: bold;
    color: gray;
    text-transform: lowercase;
    margin: 3px;
    text-align: center;
  }
  .h2{
    color:black;
}

  .card p {
      color: black;
  }

    

